/* Font */
html.device-desktop, html.device-desktop body{
	font-family: Roboto!important;

}

/* Scrollbar */
::-webkit-scrollbar {
	display: none;
}

html.with-modal-dialog .page-content {
	#overflow-y: scroll;
}


.panel-visible-by-breakpoint.view-main {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
    box-shadow: 0 0 20px rgba(0,0,0,.5);
	z-index: 9999;
}

/* Passcode */
.device-desktop .keypad{display: none;}

/* Toast */
.device-desktop .toast-button{
	margin-right: 0!important;
	border-radius: 2px;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 0 8px;
    border: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

}

/* Browser only */
.device-desktop .browser-only{display: block!important;}

/* Hairlines*/
.md .list ul:before,.md .list ul:after,.md .list .item-inner:after,.md .item-input-wrap:after{display:table;}
.ios .navbar:after,.ios .dialog-inner:after,.ios .list ul:before, .ios .list ul:after, .ios .list .item-inner:after,.ios .item-input-wrap:after,.ios .calendar-row:before,.ios .calendar-footer:before{display:table;}
.md .icon-radio,.md .icon-radio:after{display:table!important;}
